<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.edid-override</string>
    <key>ProgramArguments</key>
    <array>
        <string>__HOME__/.config/edid-override/edid_override</string>
        <string>--daemon</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/edid-override.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/edid-override.log</string>
</dict>
</plist>
